* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: white;
    min-height: 100vh;
    line-height: 1.5;
}

html, body {
  overscroll-behavior: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
  width: 100%
}

header h1 {
    margin: 0;
    font-size: 30px;
    font-weight: 300;
}

.logo {
  color: black;
  font-family: 'DM Sans', sans-serif;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

nav button {
  font-family: 'DM Sans', sans-serif;
  font-size: 15px;
  background: none;
  border: none;
  color: black;
  cursor: pointer;
  padding: 0;
  transition: transform 0.3s ease;

}

nav button:hover {
  transform: scale(1.1);
  text-decoration: underline;
}

#home-section h2 {
  font-size: 5rem;
  text-align: center;
}

#manual-section {
  text-align: left;
  font-size: 30px;
}

#analytics-section {
  text-align: left;
  font-size: 30px;
}

#about-section {
  text-align: left;
  font-size: 30px;
}

#about-section p {
  font-size: 20px;
  padding-top: 40px;
}

.github-button {
  background-color: black;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 50px;
  font-family: 'DM Sans', sans-serif;
  font-size: 15px;
  cursor: pointer;
  display: inline-block;
}

.github-button:hover {
  background-color: #1cd760;
  padding: 10px 25px;
  font-size: 18px;
}

#gaugeChart, #lineChart {
  width: 600px;
  height: 300px;
  margin: 2em auto;
}

.page-section {
  min-height: 100vh;
  padding: 2rem;
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
}

.page-section h2 {
  margin-bottom: 1rem;
  color: black;
}

.cursor {
  animation: blink 1s infinite;
  color: black;
  font-size: 5rem;
  font-weight: 300;
}

.spline-placeholder {

  width: 400px;
  height: 700px;
  background-color: #5fc76d;
  border-radius: 10px;
  margin: 40px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes blink {
  0%, 50% { opacity: 1; }
  51%, 100% { opacity: 0; }
}