Requirement already satisfied: fastapi in c:\users\end user\desktop\tt project\omnicron_hydroponics_project\backend\venv\lib\site-packages (0.119.1)
Requirement already satisfied: uvicorn in c:\users\end user\desktop\tt project\omnicron_hydroponics_project\backend\venv\lib\site-packages (0.38.0)
Requirement already satisfied: sqlalchemy in c:\users\end user\desktop\tt project\omnicron_hydroponics_project\backend\venv\lib\site-packages (2.0.44)
Requirement already satisfied: psycopg2-binary in c:\users\end user\desktop\tt project\omnicron_hydroponics_project\backend\venv\lib\site-packages (2.9.11)
Requirement already satisfied: python-dotenv in c:\users\end user\desktop\tt project\omnicron_hydroponics_project\backend\venv\lib\site-packages (1.1.1)
Requirement already satisfied: pydantic in c:\users\end user\desktop\tt project\omnicron_hydroponics_project\backend\venv\lib\site-packages (2.12.3)
Requirement already satisfied: pandas in c:\users\end user\desktop\tt project\omnicron_hydroponics_project\backend\venv\lib\site-packages (2.3.3)
Requirement already satisfied: scikit-learn in c:\users\end user\desktop\tt project\omnicron_hydroponics_project\backend\venv\lib\site-packages (1.7.2)
Requirement already satisfied: pip in c:\users\end user\desktop\tt project\omnicron_hydroponics_project\backend\venv\lib\site-packages (25.2)
